#contactPage {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../components/bgimg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem; /* Add padding for better spacing */
  }
  
  .contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff; /* Change title color to white */
  }
  
  .contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    color: #ddd; /* Change description text color */
  }
  
  .contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem; /* Adjust max-width for better form width */
    width: 100%; /* Make the form take full width */
  }
  
  .name,
  .email,
  .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #eae0d5;
    border: none;
    border-radius: 0.5rem;
    background: #4a4e69;
  }
  
  .submit-button {
    background: #22223b;
    color: #eae0d5;
    border: 1px solid #eae0d5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5rem;
    height: 2rem;
    font-size: medium;
    width: 7rem;
    margin-bottom: 3rem; /* Adjust margin-bottom for better spacing */
  }
  
  .submit-button:hover {
    background-color: #eae0d5;
    color: #22223b;
  }
  
  .msg {
    margin-bottom: 3rem;
    resize: none; /* Prevent textarea from being resized */
  }
  
  .footer {
    margin-top: auto; /* Move footer to the bottom of the page */
    color: #ddd; /* Change footer text color */
  }
  
  .icons a {
    margin-right: 1rem; /* Add margin between icon links */
    color: #ddd; /* Change icon link color */
  }
  
  .icons a:hover {
    color: #fff; /* Change icon link color on hover */
  }
  
  .text-footer {
    margin-top: 1rem; /* Add margin between footer text and icons */
  }
  