.container-result {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../components/bg2.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  color: whitesmoke;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.result-container {
  max-width: 800px; /* Adjust width as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.result-container b {
  color: red;
}


.result-container ul {
  list-style-type: none;
  padding: 0;
}

.result-container ul li {
  margin-bottom: 10px;
}

.result-container ul li a {
  color: #007bff; /* Adjust color as needed */
  text-decoration: none;
}

.result-container ul li a:hover {
  text-decoration: underline;
}
